{% extends "base.html" %}

{% block body %}
  <div class="container">
    <!-- ================== DARK/LIGHT MODE ================== -->
    <div class="row justify-content-center">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center my-5">Palette Hextractor</h1>
      </div>
      <div class="col-md-3">
        <div class="col-md-1 offset-md-11 my-5">
          <a type="button" id="theme-toggle" style="font-size: 1.5rem;">🌗</a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="row justify-content-center mt-5">
        <!-- ================== DROP ZONE ================== -->
        <div id="drop-zone" class="col-md-6 mx-3 my-3">
          <strong>Drop image or URL here</strong>
        </div>
        <!-- ================== PALETTE CONTAINER ================== -->
        <div id="palette-container" class="col-md-6 mx-3 my-3" hidden>
          <div class="d-flex align-items-center justify-content-center">
            <div id="loading-gif" class="center-v"><img src="static/img/Dual Ring@1x-1.0s-200px-200px.gif"></div>
            <div id="palette-box" class="col-12 mt-2" hidden></div>
          </div>
        </div> 
      </div>
      <div class="row justify-content-center my-3">
        <div class="col-md-6 text-center">
          <input type="file" id="file-input" accept="image/*" />
          <button id="choose-file" class="btn btn-primary">Choose an Image…</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}